body {
    margin: 0;
    background-color: lightgray;
}

header {
    background-color: dodgerblue;
    text-align: left;
    color: white;
    padding: 10px;

}


#Profile\ Icon {
    float: right;
    padding: 5px;
    height: 10vh;
}

.SectionSquare {
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 50px;
    padding: 20px;
    width: 70vw;
    height: 40vh;
    background-color: white;
    border-radius: 25px;
    float: left;
    text-align: center;
}

.AsideSquare {
    margin-right: 40px;
    margin-top: 50px;
    height: 31vh;
    width: auto;
    padding: 50px;
    background-color: white;
    float: right;
    border-radius: 20px;

}

#AsideH1Storing {
    float: left;
}

#VanForm{
    opacity: 1;
    border-radius: 20px;
    border: 1px solid black;
}

#NaarForm{
    opacity: 1;
    border-radius: 20px;
    border: 1px solid black;
}

#Feedback {
    text-align: center;
}

#Canceled {
    color: red;
}

#Vertraging {
    color: orange;
}



