body {
    margin: 0;
    background-color: lightgray;
}

header {
    background-color: dodgerblue;
    text-align: left;
    color: white;
    padding: 10px;

}


#Profile\ Icon {
    float: right;
    padding: 5px;
    height: 10vh;
}

.SectionSquare {
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 50px;
    padding: 20px;
    width: 60vw;
    height: 40vh;
    background-color: white;
    border-radius: 25px;
    float: left
;
}

.AsideSquare {
    margin-right: 40px;
    margin-top: 50px;
    height: 31vh;
    width: 20vw;
    padding: 50px;
    background-color: white;
    float: right;
    border-radius: 20px;

}

#AsideH1Storing {
    float: left;
}

#FormVanTot{
    opacity: 1;
}

#Feedback {
    text-align: center;
}

#Canceled {
    color: red;
}

#Vertarging {
    color: orange;
}
